<a href="https://colab.research.google.com/github/Hyeytt/BP_05_20221104_E4/blob/main/BP_05_20221104_E4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 왜 다음과 같은 수식이 오류를 발생시키는가? 올바르게 수정하라

In [ ]:
print('나는' + str(12) + '개의 사과를 먹었다')

나는12개의 사과를 먹었다

# 2. 다음과 같은 수식을 계산하면 결과는 무엇인가?

In [ ]:
print('apple' + 'grape')
print('apple' * 3)

applegrape
appleappleapple

# 3.

In [ ]:
text = input("문자열을 입력하시오 : ")
t = text[0:2] + text[-2:]
print(t)

문자열을 입력하시오 : python
pyon

# 4.

In [ ]:
s = input("문자열을 입력하시오 : ")
s = s + "하는 중"
print(s)

문자열을 입력하시오 : 청소
청소하는 중

# 5.

In [ ]:
str = input("기호를 입력하시오 : ")
word = input("중간에 삽입할 문자열을 입력하시오 : ")
s = str[:1] + word + str[1:]

print(s)

기호를 입력하시오 : []
중간에 삽입할 문자열을 입력하시오 : python
[python]

# 6.

In [ ]:
list = [1, 2 ,3, 4]
sum = 0
sum = list[0] + list[1] + list[2] + list[3]

print("리스트는", list)
print("리스트 숫자들의 합 :", sum)

리스트는 [1, 2, 3, 4]
리스트 숫자들의 합 : 10

# 7.

    import turtle

    t = turtle.Turtle()

    t.shape("turtle")

    list = [ ]

    color = input("색상 #1을 입력하시오")

    list.append(color)

    color = input("색상 #2을 입력하시오")

    list.append(color)


    color = input("색상 #3을 입력하시오")

    list.append(color)

    t.fillcolor(list[0])

    t.beginfill()

    t.circle(50)

    t.endfill()

    t.up()
    t.goto(100,0)
    t.down()

    t.fillcolor(list[1])

    t.beginfill()

    t.circle(50)

    t.endfill()

    t.up()
    t.goto(200,0)
    t.down()

    t.fillcolor(list[2])

    t.beginfill()

    t.circle(50)

    t.endfill()

    t._screen.exitonclick()

# 8.

    import turtle

    t = turtle.Turtle()

    t.shape("turtle")

    list = []

    list.append(int(input("x1 : "))

    list.append(int(input("y1 : "))

    list.append(int(input("x2 : "))

    list.append(int(input("y2 : "))

    list.append(int(input("x3 : "))

    list.append(int(input("y3 : "))

    t.goto(list[0], list[1])

    t.goto(list[2], list[3])

    t.goto(list[4], list[5])

    t._screen.exitonclick()